input.ng-invalid.ng-touched,
input.ng-invalid.ng-dirty {
  border-color: #e24c4c !important;
}
button.p-button-success.mb-3.small.Nuevo{
  background-color: #45a47e !important;
}
button.p-button-success.mb-3.small.Nuevo:hover {
  background-color:#3b8a6a!important;
}