<div class="p-4">
  <h2>Gestión de Períodos</h2>

  <div class="p-formgrid p-grid mb-3">
    <div class="p-field p-col-12 p-md-4">
      <label for="codigo">Código:</label>
      <input
        id="codigo"
        type="text"
        pInputText
        [(ngModel)]="nuevoPeriodo.codigo"
        placeholder="Ej. 2025-A1"
        name="codigo"
      />
      <button
        pButton
        label="Guardar"
        icon="pi pi-save"
        class="p-button-success"
        (click)="guardar()"
      ></button>
    </div>

    <p-table [value]="periodos">
      <ng-template pTemplate="header">
        <tr>
          <th>Código</th>
          <th>Fecha de creación</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-periodo>
        <tr>
          <td>{{ periodo.codigo }}</td>
          <td>{{ periodo.fechaCreacion | date : "short" }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
